.info-tab {
  width: $page-container-width;
  min-height: 410px;

  margin: 0 auto;
}

.info-tab__buttons-list {
  display: flex;
  list-style: none;

  margin: 0;
  padding-left: 10px;
}

.info-tab__buttons-item {
  display: block;

  width: 195px;
  height: 50px;

  padding: 10px;

  text-align: center;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;

  line-height: 27px;

  color: $color-dark;
  border: 1px solid $color-tab-grey;
  box-sizing: border-box;

  &:hover {
    border-color: $color-red-hovered;
  }

  &--active {
    background-color: $color-red;
    color: $color-white;

    border: none;

    &:hover {
      background-color: $color-red-hovered;
    }
  }
}

.info-tab__slides {
  padding-top: 25px;
  padding-left: 7px;
}

.info-tab__slide {
  min-height: 356px;

  &--characteristics {
    min-height: 354px;

    padding-top: 2px;
  }
}

.info-tab__parameters {
  width: 571px;
}

.info-tab__line {
  display: flex;

  margin-bottom: 19px;
  padding-bottom: 6px;

  border-bottom: 1px solid $color-tab-grey;
}

.info-tab__parameter {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: $color-dark;

  padding-right: 20px;
}

.info-tab__value {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  text-align: right;

  margin-left: auto;
}

.info-tab__map-wrapper {
  display: flex;
}

.info-tab__contacts-block {
  width: 351px;

  padding-left: 3px;
}

.info-tab__contacts-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  color: #1A212F;

  margin-top: 0;
  margin-bottom: 6px;
  padding-right: 20px;

  &--address {
    margin-bottom: 10px;
  }
}

.info-tab__contacts-line {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #1A212F;

  margin-top: 0;
  margin-bottom: 27px;
  padding-right: 20px;
}

.info-tab__address-line {
  margin: 0;
  padding: 0;
}

.info-tab__map-container {
  position: relative;

  width: 431px;
  height: 276px;

  padding-top: 5px;

  &::before {
    content: "";
    position: absolute;
    display: block;

    top: 76px;
    left: 113px;

    width: 34px;
    height: 42px;

    background-image: url("../img/map-pin.svg");
    background-repeat: no-repeat;
  }
}
